$text-color: #353b5b;

#about {
  color: $text-color;

  .workProcess {
    font-size:24px;
    font-weight:bold;

    li {
      margin-top:15px;
      display: flex;
    }
    span{
      display: inline;
    }
      .number {
        color:#3dbad1;
        padding-right: 30px;
        font-weight:900;
      }
  }

  .imgBlock {
    transition:0.6s ease-in-out;

    &:hover {
      transform:rotate(3deg);
    }
  }


  @media (max-width:1024px) {
    .videoPlay {
      margin-top:30px;
    }
  }


  @media (min-width:360px) and (max-width:499px) {
      h2 {
        font-size:24px;
      }

      .workProcess {

        li {
          .about-option {
            font-size: 18px;
          }

          .number{
            font-size:18px;
            padding-right: 10px;
          }
        }


      }
  }
}

.closeButton {
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight:bold;

  &:hover {
    color:yellow;
  }
}