@import "../variables";

$bg_color: #3db9d1;
$text-color: #fff;

#agile {
  margin-top: calc(#{$service-list-height} / 2);
  padding-top: calc(#{$service-list-height} / 2 + 250px);
  padding-bottom: 40px;
  background: $bg_color;
  color: $text-color;

  h2 {
    color: $text_color;
  }

  @media (max-width: 1200px) {
    padding-top: 30%;
  }

  @media (max-width: 976px) {
    padding-top: 25px;
  }
}