footer {
  color:$footer-text-color;

  &#footer {
    // background-image: url('../images/bg-footer.jpg');
    background-color: #353b5b;
    padding: 50px 0;
  }
.contact{
  text-align: right;
}

  .contact span  {
   
    padding-left: 45px;
    transition:0.6s ease;
    cursor:pointer;

    & svg {
      margin-right:10px;
    }

    &:hover {
      color:$color-yellow;
      transform:scale(1.1);
    }
  }

  .top-border {

    &:before {
      content: '';
      display: block;
      border-style: solid;
      border-color: #434343;
      border-width: 0 0 1px 0;
      width: 100%;
    }
  }

  .bottom-border {
    // &:after {
    //   content: '';
    //   display: block;
    //   border-style: solid;
    //   border-color: #434343;
    //   border-width: 0 0 1px 0;
    //   width: 100%;
    //   margin-top:30px;
    // }
  }

  .footer-row{
    align-items: flex-end;
  }

  .option {
    height: 10px;
    & ul {
      text-align: left;

      & li {
        list-style: none;
        cursor: pointer;

        &:hover a {
          color:$color-yellow;
        }

        &:before {
          content: "";
          display: inline-block;
          background-color: $footer-text-color;
          // mask-image: url("../images/star-regular.svg");
          background-size: 10px;
          background-repeat: no-repeat;
          width: 16px;
          height: 14px;
          margin-right: 10px;
        }

      }

    }
  }

  .socialBlock {

    & ul li {
      margin-right:15px;
      transition:0.6s ease; 

      & a {
        color:$footer-text-color;
        text-decoration:none;
        transition:0.6s ease;

        &:hover {
          color:$color-yellow;
          transform:scale(1.1);
        }
      }

      & svg {
        margin-right:5px;
      }
    }
  }
}
