footer {
  color:$footer-text-color;

  &#footer {
    background-color: #353b5b;

    .main-content{
      cursor: pointer;
      margin: 40px 0;
      text-align: center;

      &:not(:last-child) {
        border-right: .5px solid rgba(173, 171, 171, 0.5);
      }

      .phone,
      .email,
      .location {
         img{
           width: 30px;
           height: 30px;
           opacity: 0.5;

         }
      }
      .icon-description{
        font-size: 13px;
        color: rgba(173, 171, 171, 0.7);
      }
    }

    .change-lng {
      border:1px solid rgba(173, 171, 171, 0.5);
      width:30px;
      height:30px;
      margin:0 auto;
      border-radius:100%;
      line-height:30px;
      transition:0.6s ease;
      font-size:12px;

      &:hover {
        color:white;
        border-color:white;
      }
    }

    .changeLngText {
      font-size:12px;
    }
    
  }

}

.mapouter{
  position:relative;
  text-align:right;
  height:500px;
  width:900px;

  .gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:500px;
    width:900px;
  }

}

