.go-home {
  position: fixed;
  right: 8px;
  bottom: 8px;
  z-index: 5;
  font-size: 30px;
  padding: 1px 14px;
  background: #52d3ebb5;
  color: white;
  cursor: pointer;


  img {
    width: 20px;
  }

  @media (max-width:720px) {
    display: none !important;
  }
}