#tags{
    .container{
        position: relative;
    }
    .main{
        height: 50vh;
        .we-care-circle{
            
            box-shadow: 0px 0px 18px grey;
            margin: 0 auto;
            width: 300px;
            height: 300px;
            border-radius: 100%;
            background: #fbd70b;
            display: flex;
            align-items: center;
            .tags{
                position: absolute;
                color: rgb(53, 59, 91);
                font-size: 20px;
                text-align: center;
                font-weight: bold;
            }
            .circle{
                width: 100%;
                text-align: center;
                .title{
                   font-size: 40px;
                   color: white 
                }
                .description {
                    font-size: 25px;
                    color: black;
                }
            }

            
        }

        .we-care-circle:hover{
            box-shadow: 0 1px 100px #fbd70b;
            transition: box-shadow 0.3s ease-in-out;
            cursor: pointer;
        }
    
        .hashTags{
            width: 100%;
            height: fit-content;
            // border-radius: 50%;
            // border:1px solid;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .tags{
                color: rgb(53, 59, 91);
                font-size: 20px;
                text-align: center;
                font-weight: bold;
            }
        }
    }
}