header {
  &.headerBg {
    background-color: rgba(0, 0, 0, 0.8);
  }

  &.fixed-top .navbar {
    height: 63px;
  }

  .siteLogo {
    display: none;
    //display: flex;
    width: 70px;
    object-fit: contain;

    img {
      width: 100%;
      height: auto;
      transition: 0.4s ease transform;
    }

    .phone-number {
      height: 37px;
      line-height: 37px;
      padding: 0 0 0 20px;
      font-size: 14px;
    }

    &:hover img {
      transform: scale(1.03);
    }
  }

  nav {
    transition: 0.6s ease-in-out;

    ul li {
      position: relative;
      margin-right: 15px;

      .nav-link {
        color: rgba(255, 255, 255, 0.8) !important;
        font-weight: 600;
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        width: 0;
        height: 2px;
        background: cadetblue;
        transition: 0.6s ease;
      }

      &:hover::before {
        width: 100%;
      }
    }

    .toggleButton {
      display: none;
      position: relative;
      width: 25px;
      cursor: pointer;

      span {
        display: block;
        width: 100%;
        height: 2px;
        background: #3db9d1;

        &:not(:first-child) {
          margin-top: 7px;
        }
      }
    }

    //NAV
    @media (max-width:1024px) {
      justify-content: space-between !important;

      .closed {
        &.toggleButton {
          display: block;
        }

        &#navbarSupportedContent {
          display: none !important;
        }
      }

      .opened {
        &.toggleButton {
          display: block;
        }

        &#navbarSupportedContent {
          display: flex;
        }
      }

      #navbarSupportedContent {
        position: absolute;
        top: 70px;
        background: rgba(13, 16, 16, 0.5);
        width: 100%;

        .navbar-nav {
          width: 100%;
          padding: 20px;
          flex-direction: column;

          li:before {
            display: none;
          }

        }
      }
    }

    //.opened {
    //  span {
    //    position: absolute;
    //    margin-top: 0;
    //    transition: 0.6s ease;
    //
    //    &:first-child {
    //      transform: rotate(36deg);
    //      transform-origin: center;
    //    }
    //
    //    &:nth-child(2) {
    //      display: none;
    //    }
    //
    //    &:last-child {
    //      transform: rotate(-36deg);
    //      transform-origin: center;
    //    }
    //  }
    //
    //}
    //
    //.closed {
    //  transition: 0.9s ease-in-out;
    //
    //  span {
    //    &:first-child {
    //      transform: rotate(0deg);
    //    }
    //
    //    &:last-child {
    //      transform: rotate(0deg)
    //    }
    //
    //  }
    //
    //  &:not(:first-child) {
    //    margin-top: 10px;
    //  }
    //
    //  &:not(.closed) {
    //    display: none;
    //  }
    //
    //}
    //
    //#navbarSupportedContent {
    //  display: block !important;
    //}
    //
    //@media (max-width:1024px) {
    //  .toggleButton {
    //    display: block;
    //  }
    //
    //  #navbarSupportedContent {
    //    background: rgba(9, 148, 36, 0.2);
    //    padding: 10px;
    //
    //    &:not(.opened) {
    //      display: none;
    //    }
    //  }
    //
    //  ul li:before {
    //    width: 100%;
    //    background: #434343;
    //  }
    //}
  }
}
