.popupView {
    text-align: center;
    .prev, .next {
        position: absolute;
        top: 45%;
        color: white;
        font-size: 30px;
        border: none;
        align-items: center;
        outline: none;
        width: 50px;
        cursor: pointer;
        z-index: 5;
    }
    .prev{
        left: 0;
    }
    .next {
        right: 0;
    }
    .prev:hover, .next:hover{
        color: grey;
        //font-size: 103px;
    }
    img{
        //max-width: 600px;
        object-fit:contain;
    }

    @media (max-width:992px) {
        img {
            max-width: 300px;
        }
    }
    
}