
#services {
  position: relative;


  h2 {
    color: #020d45;
  }

  .serviceIcon {
    cursor: pointer;

    img {
      width: 100px;
      height: 100px;
      object-fit: contain;
    }

    &.bottomBorder {
      position: relative;

      &:before {
        content: "";
        display: block;
        position: absolute;
        bottom: -48px;
        right: 0;
        width: 100%;
        height: 5px;
        background: #fbd70b;
      }

    }
  }

  .serviceContent {
    position: absolute;
    padding:10px;
    height: 400px;
    box-shadow: 0 0 28px #9999999e;
    background: white;
    z-index: 12;
    left: 15px;
    right: 15px;

    .imgContent {
      width: 300px;
      height: 300px;
      background: #2db9d1;
      border-radius: 100%;
      padding: 45px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .deskContent {
      min-height: 380px;

      .progTech {
        text-align: center;

        img {
          width: 90px;
          height: 50px;
          object-fit: contain;
          transition: 0.2s ease-in-out;

          &:hover {
            transform: rotate(25deg);
            transform-origin: center;
          }
        }

      }

      h3 {
        color: #3c4160;
      }
    }
  }

  @media (max-width: 390px) {
    .serviceIcon {

      img {
        width: 60px;
      }
    }

  }

  @media (max-width: 976px) {
    .serviceContent {
      height: unset;
      position:unset;

      .deskContent {

        .progTech {

          img {
            width: 40px;
          }
        }
      }

      .imgContent {
        width: 250px;
        height: 250px;
      }

    }
  }

  .dots {
    position: absolute;
    
    span {
      width:20px;
      height:20px;
      border-radius:100%;
      background: rgba(0,0,0,0.6);

      &:before {
        content:'\2022';
      }
    }
  }
}