@import "../variables";

#services {
  position: relative;


  h2 {
    color: #020d45;
  }

  .serviceIcon {
    cursor: pointer;

    img {
      width: 100px;
      height: 100px;
      object-fit: contain;
    }

    &.bottomBorder {
      position: relative;

      &:before {
        content: "";
        display: block;
        position: absolute;
        bottom: -48px;
        right: 0;
        width: 100%;
        height: 5px;
        background: #fbd70b;
      }

    }
  }

  .serviceContent {
    .icons-mobile-development, .icons-web-development, .icons-design{
      width: 88%;
    }
    .service-content-description{
      width: 75%;
      text-align: left;
    }
    position: absolute;
    padding: 10px;
    height: 430px;
    box-shadow: 0 0 28px #9999999e;
    background: white;
    z-index: 12;
    left: 15px;
    right: 15px;
    display: flex;
    align-items: center;

    .imgContent {
      width: 300px;
      height: 300px;
      background: #2db9d1;
      border-radius: 100%;
      padding: 19px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .deskContent {
      min-height: 380px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      .progTech {
        text-align: center;

        img {
          width: 90px;
          height: 50px;
          object-fit: contain;
          transition: 0.2s ease-in-out;

          &:hover {
            transform: rotate(25deg);
            transform-origin: center;
          }
        }

      }

      h3 {
        color: #3c4160;
      }
    }
  }

  .dots {
    position: absolute;
    margin-top: calc(#{$service-list-height} + 110px);
    width: 100%;

    span {
      display: inline-block;
      margin-right:20px;
      width: 11px;
      height:11px;
      border-radius: 100%;
      background: #ffffffa1;
      transition:0.3s ease-in-out;
      cursor:pointer;

      &:hover {
        background: rgba(0,0,0,0.6);
      }

      &.active {
        background:#fbd70b ;
      }
    }
  }

  @media (max-width: 390px) {
    .serviceIcon {

      img {
        width: 60px;
      }
    }

  }

  @media (max-width: 976px) {
    .serviceContent {
      height: unset;
      position: unset;

      .deskContent {

        .progTech {

          img {
            width: 40px;
          }
        }
      }

      .imgContent {
        width: 250px;
        height: 250px;
      }

    }

    .dots {
      position: relative;
      margin: 0;
      padding-top: 25px;

      span {
        background:rgba(0,0,0, 0.3)
      }
    }
  }
}