
#Slider{


    .images-content{
        height: 200px;
        display: flex !important;

        img{
            cursor: pointer;
            margin: 0 auto;
            height: 100%;
            width: 80%;
            object-fit:cover;
        }
        
    }
}