#our-team {
    .slick-slide {
        padding:2px 15px;
        cursor:pointer;
        //border:1px solid red;

        div {
            height:250px;


            img {
                width: 100%;
                height: 100%;
                object-fit:cover;
                object-position: left;
            }
        }

        &:hover {

            div {
                box-shadow: 0 0 10px rgba(0,0,0,0.5);
            }
        }
    }
}


.techSlideImage {
    width:80px;
    height:105px;
    object-fit:contain;
}

.slider-description{
    // width: 80%;
    text-align: center;
    font-size: 15px;
}


.slider-technologies{
    width: 80%;
    margin: 0 auto;
}