$color-green: #34b363;
$color-yellow: #e9cc0c;
$color-dark-blue: #042b42;

$footer-text-color: #999;
$service-list-height: 400px;
$nav_margin_right:0;

 $color-light: #52d3eb;
 $color-medium: #42bad0;
 $color-dark: #2d95a9;
 $color--agile: #3db9d1;
 $color-sliderfooter: #353b5b;

//$color-light: #928d8d;
//$color-medium: #6b666b;
//$color-dark: #1b1b1b;
//$color--agile: #666165;
//$color-sliderfooter: #636363;
